*{
  margin: 0px;
  padding: 0px;
}
html{
  max-width: 1000px;
  background-color: #cccccc;
}
body{
    background-image: url("../images/speaking1.jpg");
    width: 1000px;
    height: 655px;
    margin-left: 200px;
}
#menu{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 698px;
}
#menu label{
  font: 20px 华文彩云;
  color: white;
}
#menu form{
  position: absolute;
  top: 150px;
  left: 100px;
}
#menu form input{
  margin-top: 30px;
  height: 21px;
  width: 190px;
}
form button{
  position: absolute;
  top: 200px;
  left: 220px;
  width: 60px;
  height: 25px;
  background-color: #cc99cc;
}
::-webkit-input-placeholder{
  color: #00ff00;
  opacity: 0.8;
}
